body {
  background-image: repeating-linear-gradient(black, darkgray);
}

.figure-caption {
  font-size: 20px;
  color:white;
}

.figure-img {
  height: 50%;
  width: 50%;
  border: 5px solid gold;
}
  
#About, #Previous, #Contact {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
#About img {
    width: 20%;
    height: auto;
}